
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=VT323');

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: #00FF00;
  font-family: 'VT323', monospace;
  overflow: auto;
}

#app {
  height: 100%;
  width: 100%;
  // overflow: hidden;
}

$scanLineWidth: 1px;

.scan-lines {
  background-image: linear-gradient(transparent 0%, rgba(10, 16, 10, 0.6) 50%);
  background-size: 1000px 6px;
}

.terminal-main {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5%;
  outline: none;
  line-height: 120%;
  font-size: 30px;
}

.term-line {
  p {
    // display: inline;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
  a {

  }
}
